<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style1.css">
</head>

<body>
    {{>navbar}}
    <main>
        <div class="about">
            <div class="about_style">
                <span class="detail_1"> Welcome to my Web App!</span>I'm Ashis Choudhury, and I'm passionate about Web
                Devlopment. I am from IIIT Bhubaneswar of Academic Year 2021-2025 in IT branch.
            </div>
        </div>
    </main>

    <div class="footer">
        <div class="f1">
            Created By Ashis Choudhury
        </div>
    </div>

</body>

</html>