<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
.err{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}  
.errors_1{
    width: 40%;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
<body>
    <div class="err">
    <img src="images/error.png" class="errors_1">
</div>
</body>
</html>