 <div class="nav">
      <div class="w">
        WEATHER
      </div>
      <div class="click">

        <div class="home hover">
          <a href="/" class="link">Home</a>
        </div>
        <div class="we hover">
          <a href="/weather" class="link"> Weather</a>
        </div>
        <div class="about hover">
          <a href="/about" class="link"> About</a>
        </div>
      </div>
    </div>